<footer class="bg-gray-800 text-white py-4 col-span-2 ">
  <div class="container mx-auto text-center px-4">
    <p class="text-sm">
      &copy; <%= new Date().getFullYear() %> Tirso Samalungo. 
      <a href="https://github.com/GreyTearsDev" class="text-pink-400 hover:text-pink-500 transition">
        GreyTearsDev
      </a>
    </p>
  </div>
</footer>
