<div class="p-4 bg-gray-50 border border-gray-200 rounded-md">
  <p class="text-gray-700">
    <span class="font-semibold">Required fields</span> are marked with an asterisk 
    (<span class="text-red-500">*</span>).
  </p>
</div>
